/* Page-Wide */
body {
  background-image: url("././images/background.jpg");
  background-repeat: repeat-y;
  font-family: sans-serif;
  text-align: center;
}


/* Color Panels */
.square {
  width: 50%;
  height: 100%;
  opacity: 0.2;
}
#pink {
  background-color: #f6b1c4;
  position: absolute;
  left: 0;
}
#yellow {
  background-color: #fdf473;
  position: absolute;
  right: 0;
}

/* Text */
.text-container {
  background-color: #ffffff;
  width: 30%;
  position: absolute;
}
#fanny {
  top: 20%;
  left: 10%;
}
#ski {
  top: 20%;
  right: 10%;
}
