/* Page-Wide */
body {
  background-image: url("./images/background.jpg");
  background-repeat: repeat-y;
  font-family: sans-serif;
  text-align: center;
}


/* Color Panels */
.square {
  width: 50%;
  height: 100%;
  opacity: 0.2;
}
#pink {
  background-color: #f6b1c4;
  position: absolute;
  top: 0;
  left: 0;
}
#yellow {
  background-color: #fdf473;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Text */
.text-container {
  background-color: #ffffff);
  width: 400px;
  position: absolute;

  top: 50%;
  left: 50%;
     -ms-transform: translate(-50%, -50%); /* IE 9 */
 -webkit-transform: translate(-50%, -50%); /* Safari 3-8 */
         transform: translate(-50%, -50%);
}
