/* Page-Wide */
@font-face {
  font-family:'JMH Typewriter';
  src:url('../fonts/JMH Typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mermaid1001';
  src:url('../fonts/Mermaid1001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Queen of Clubs';
  src:url('../fonts/Queen of Clubs.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.footer, .header {
  background-color: #77796d;
  padding-left: 1.1em;
}

h1 {
  font-family: 'Queen of Clubs';
  font-size: 120px;
  color: #c7a455;
  text-align: center;
}

h2, h3 {
  font-family: 'Queen of Clubs';
  color: #1e3640;
  text-align: center;
}

pre {
  font-family: 'JMH Typewriter';
  font-size: 12px;
  color: #1e3640;
}

a:link{
  color: #c7a455);
}

a:hover{
  color: #ad8839;
}

a:visited{
  color: #f1abb7;
}

.text-container {
  background-color: #fefadc;
  width: 70%;
  position: relative;
}

.link {
  color: #fefadc;
}
