/* Colored  Panels */
.square {
  width: 50%;
  height: 50%;
  border: 2px dashed white;

}
#red {
  background-color: #BD4A26;
  position: absolute;
  top: 0;
  left: 0;
}
#blue {
  background-color: #2A3F61;
  position: absolute;
  top: 0;
  right: 0;
}
#purple {
  background-color: #72497b;
  position: absolute;
  bottom: 0;
  left: 0;
}
#pink {
  background-color: #E28BB9;
  position: absolute;
  bottom: 0;
  right: 0;
}

img~.less {
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.text-container {
  background-color: #fefadc;
  width: 70%;
  position: relative;
}

/* Text */
.text-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
}
h1+p {
  background-color: black;
  color: white;
  padding: 5px;
}
