body {
  background-color: #FFAD91;
  text-align: center;
}
.container-fluid {
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}
.row:after,.row:before {
  margin-right:-15px;
  margin-left:-15px;
  display:table;
  content:" ";
  clear:both;
}
.col-sm-3 {
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  float:left;
  width:30%;
}
.container {
  background-color: white;
  width: 1048px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
}
ul {
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ea6d4f;
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.imgcontainer {
  position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: auto;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.imgcontainer:hover .image {
  opacity: 0.3;
}
.imgcontainer:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 16px 32px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8b2a4c;
  color: white;
  text-align: center;
}
