@font-face {
  font-family: 'Moon Flower', serif;
  src: url('../fonts/MoonFlower-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display', serif;
  src: url('../fonts/PlayfairDisplay-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display', serif;
  src: url('../fonts/PlayfairDisplay-Italic.ttf') format('opentype');
  font-weight: italic;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display', serif;
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
