@font-face {
  font-family: 'Moon Flower';
  src: url('../fonts/MoonFlower-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
  font-weight: italic;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Moon Flower';
  font-size: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 16px;
}

p {
  font-family: 'Playfair Display';
}
